<!doctype html>
<html style="background-color:white;" lang="fr">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="img/logo.ico">
		<link rel="stylesheet" href="teleport/autocomplete-0.3.3/teleport-autocomplete.css">

			<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="leaflet/leaflet.js"></script>
		<script src="http://d3js.org/d3.v5.min.js"></script>
		<script src="teleport/autocomplete-0.3.3/teleport-autocomplete.js"></script>

		<style>
			#divmap {

   				 width: 50px;
    			height: 200px;
    		}
		</style>


		<!-- <link rel="stylesheet"	href="style.css" type="text/css" media="screen" /> -->
		<title>RDM Advisor</title>
	</head>
	<body style="background-color:white;">
		<nav class="navbar navbar-expand-md navbar fixed-top bg-light">
			<a href="index.html">Mettre le logo RDM ici</a>
			<form class="mx-auto d-inline">
				<div class="form-group d-inline row p-3 mx-auto">
					<label for="registerBirthday">De</label>
					<input type="text" class="form-control-sm" id="depart" placeholder="Départ" name="depart" tabindex="1" autocomplete="off">
					<label for="registerBirthday"> vers </label>
					<input type="text" class="form-control-sm" id="arrive" placeholder="Arrivé" name="arrive" tabindex="1" autocomplete="off">
					<label for="registerBirthday">, du </label>
					<input type="date" class="form-control-sm" id="date_depart" name="date_depart">
					<label for="registerBirthday"> au </label>
					<input type="date" class="form-control-sm" id="date_retour" name="date_retour">
				</div>
				<button type="submit" class="btn btn-sm btn-dark d-inline-block">Go !</button>
			</form>
    </nav>
		<div style="height:43px;"></div>
		<div class="container-fluid text-left p-4 mx-auto">

			<div class="row p-3">
				<div class="col-4">
					<div class="card" id="Skyscanner">
						<div class="card-body">
							<h5 class="card-title">API Skyscanner</h5>
								<div id="divmap" >
									<script>
									var map = L.map('divmap');
										map.setView([42.35843, -71.05977], 12);
									//L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
									//	{ attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors' }).addTo(map);
									L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
										{ attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>,Data by <a href="http://mass.gov/mgis">MassGIS</a>',maxZoom: 17,minZoom: 9 }).addTo(map);
									/*L.tileLayer('http://tiles.mapc.org/trailmap-onroad/{z}/{x}/{y}.png',{
										maxZoom: 17,
										minZoom: 9
										}
										).addTo(map);*/
									</script>
								</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card" id="Blablacar">
						<div class="card-body">
							<h5 class="card-title"><img class="" src="img/blablacar.png" id="logo" alt="logo_blablacar" height="28" width="28"/> Blablacar</h5>
							<div>
								<% if(bb_result.trips.length!=0){ %>
								<% for (i = 0; i < bb_result.trips.length; i++){ %>
									<h6> De <%= bb_result.trips[i].departure_place.city_name %> jusqu'à <%= bb_result.trips[i].arrival_place.city_name %></br><%=bb_result.trips[i].departure_date%></h6>
									<% color = bb_result.trips[i].price.price_color %>
									<% color = color.toLowerCase() %>
									<ul>
										<li> Prix : <span style="color:<%= color %>;"><%= bb_result.trips[i].price.value %> <%= bb_result.trips[i].price.symbol %><span></li>
										<% if(typeof bb_result.trips[i].car !== "undefined"){ %>
										<li> Véhicule : <%= bb_result.trips[i].car.make %> <%= bb_result.trips[i].car.model %> </li>
										<% } %>
										<li> <a href="<%= bb_result.trips[i].links._front %>">Voir annonce sur Blablacar</a></li>
									</ul>
								<% }}else{ %>
								<%= "Pas de covoiturage disponible." %>
								<% } %>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card" id="Flixbus">
						<div class="card-body">
							<h5 class="card-title">API Flixbus</h5>
							<div>FAIRE TOUT SON CODE ICI</div>
							<div class="text-right">
								<button href="#" class="btn btn-dark btn-sm">Ca me plait !</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row p-3">
				<div class="col-6">
					<div class="card" id="Booking">
						<div class="card-body">
							<h5 class="card-title">API Booking</h5>
							<div>FAIRE TOUT SON CODE ICI</div>
							<div class="text-right">
								<button href="#" class="btn btn-dark btn-sm">Ca me plait !</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card" id="TripAdvisor">
						<div class="card-body">
							<h5 class="card-title">API TripAdvisor</h5>
							<div>FAIRE TOUT SON CODE ICI</div>
							<div class="text-right">
								<button href="#" class="btn btn-dark btn-sm">Ca me plait !</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row p-3">
				<div class="col-6">
					<div class="card" id="Meteo">
						<div class="card-body">
							<h5 class="card-title">L'an dernier à cette période : (month/day)</h5>
							<% for (i = 0; i < sky.length; i++){ %>
							<p> <%= day[i] %> :
							<img class="" src="<%= sky[i] %>" id="logo" alt="icon météo" height="56" width="56"/> avec un température de  <%= temp[i] %> C° </p>
							<% } %>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="card" id="InfoVille">
						<div class="card-body">
							<h5 class="card-title">API Info Ville</h5>
							<div>FAIRE TOUT SON CODE ICI</div>
							<div class="text-right">
								<button href="#" class="btn btn-dark btn-sm">Ca me plait !</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			TeleportAutocomplete.init('#depart').on('change', function(value) {
				 console.log(value);
				 // TODO: Get back content and make something with it
			 });
			TeleportAutocomplete.init('#arrive').on('change', function(value) {
				 console.log(value);
				 // TODO: Get back content and make something with it
			 });
		</script>
	</body>
</html>
